/*************************/
/* 참여하기 관련
/*************************/

.ficnic_pay_ficnicTitle span, .ficnic_pay_ficnicTitle{
	
	font-size: 22px;
	font-weight: 400;
}
.ficnic_pay_ficnicStarReview span, , .ficnic_pay_ficnicOtherpay{
	font-size: 18px;
}

.ficnic_pay_ficnicOption div sapn{
	font-size: 18px;
}
.ficnic_pay_ficnicPay {
	font-size: 18px;	
}
.fincnic_pay_price{
	font-size: 18px;
}

.coupongray{
	color: #e6e6e6;
}





